html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Aral, Helvetica, sans-serif;
    text-align: center;
}
a{
    display: inline-block;
}
b{
    display: block;
    padding: 10px;
}
button{
    padding: 5px 10px;
}
img,
.image{
    width: 30vw;
    max-width: 300px;
    margin: 1vh 1vw;
}
.image{
    display: inline-block;
    height: 20vw;
    max-height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spotlight.image{
    cursor: pointer;
}